* {
    text-decoration: none;
}

*:link, *:visited, *:active {
    color: black; /* Цвет ссылок */
}

.table {
    display: flex;
}

.tableColumn {
    width: 20%;
}

.categoryName {
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.table ul {
    padding-left: 0;
}

.todoCard {
    list-style-type: none;

    border: 1px solid black;
    margin: 10px 50px 0 50px;
    height: 50px;
}

.todoCard:hover {
    cursor: pointer;
}

.todoCard p {
    margin-left: 10px;
}

.task {
    background-color: #85E3FF
}

.bug {
    background-color: #E60F0F
}

.task:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #66D4F3
}

.bug:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #F73939
}

.add {
    display: flex;
    flex-direction: column;
    width: 10%;
}

.add * {
    margin-top: 10px;
}

.addTaskButton {
    width: fit-content;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 50px;

    padding: 0 15px 0 15px;
    background: #27B827;

    border-radius: 3px;
}

.backButton {
    margin-top: 10px;
}

.submitButton {
    padding: 5px 0 5px 0;
    text-align: center;
    background: #27B827;
    margin-bottom: 10px;
}

.addTaskButton:hover, .submitButton:hover {
    cursor: pointer;
    transition: 0.5s;
    background: #5DE05D;
}

.deleteButton {
    height: 30%;
    width: 10%;
}

.cardContent {
    display: flex;
    justify-content: space-between;
}

#description {
    border: 1px solid black;
    height: 300px;
}