* {
    text-decoration: none;
}

*:link, *:visited, *:active {
    color: black; /* Цвет ссылок */
}

.table {
    display: flex;
}

.tableColumn {
    width: 20%;
}

.categoryName {
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.table ul {
    padding-left: 0;
}

.todoCard {
    list-style-type: none;

    border: 1px solid transparent;
    border-radius: 3px;
    margin: 10px 50px 0 50px;
    height: 50px;
}

.todoCard:hover {
    cursor: pointer;
    border-color: darkgray;
}

.todoCard p {
    margin-left: 10px;
}

.task {
    background-color: #85E3FF
}

.bug {
    background-color: #E60F0F
}

.task:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #66D4F3
}

.bug:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #F73939
}

.add {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.add * {
    margin-top: 10px;
}

.addTaskButton {
    width: fit-content;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 50px;

    padding: 0 15px 0 15px;
    background: #27B827;

    border-radius: 3px;
}

.backButton {
    width: fit-content;
    font-size: 20px;
    width: 20%;
    padding: 5px 0 5px 0;
    text-align: center;
    border: 0;
    border-radius: 5px;
    background-color: rgb(221, 221, 221);
    outline: none;
}

.backButton:hover {
    cursor: pointer;
}

.submitButton {
    font-size: 20px;
    width: 20%;
    padding: 5px 0 5px 0;
    text-align: center;
    background: #4CAF50;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px;
    outline: none;
}

.addTaskButton:hover, .submitButton:hover {
    cursor: pointer;
    transition: 0.5s;
    background: #45a049;
}

.deleteButton {
    height: 100%;
    width: 10%;
    border: 0;
    border-bottom-left-radius: 4px;
    background: transparent;
    padding: 5px 0 5px 0;
    outline: none;
}

.deleteButton:hover {
    background: gray;
    cursor: pointer;
}

.deleteCardButton {
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    width: 40%;
    padding: 5px 0 5px 0;
    text-align: center;
    background: #F73939;
    margin-bottom: 10px;
    outline: none;
}

.deleteCardButton:hover {
    cursor: pointer;
    transition: 0.5s;
    background: #E60F0F;
}

.cardContent {
    display: flex;
    justify-content: space-between;
}

#description {
    border: 1px solid black;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
    outline: none;

    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.todoEditPage {
    margin-left: 50px;
}

.select select.is-hovered, .select select:hover {
    border-color: #b5b5b5;
}

input, select {
    font-size: 16px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttons {
    height: 100%;
    display: flex;
    justify-content: space-between;
}